.App {
  text-align: center;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}

.App-grida {
  display: grid;
  grid-template-columns: 350px 10px 200px;
  grid-template-rows: 1fr;
}

.App-gridb {
  display: grid;
  grid-template-columns: 300px 100px 10px;
  grid-template-rows: 1fr;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
}

.App-link {
  color: #61dafb;
}
